@keyframes slideRight {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
  
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes deepSurface {
    from {
        transform: scale(45%);
        transform: translateX(-25);
    }
    to {
        transform: scale(100%);
        transform: translateX(0);
    }
}

body {
    background-color: #000;
    overflow: hidden;
}

.personagem {
    display: none;
    height: 100vh;
    
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-233deg,
     #000 40%, rgba(0, 0, 0, 0) 65%) 
     no-repeat;
    min-height: 100vh;
    width: 80vw;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem-personagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: deepSurface;
    animation-duration: 2s;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 120px;
    max-width: 380px;
    min-height: 100vh;
    z-index: 1;
}

.conteudo .nome-personagem {
    border-radius: 5px;
    color: #fff;
    font-size: 48px;
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    animation-name: slideRight;
    animation-duration: 0.6s;
}

.conteudo .descricao {
    color: #fff;
    font-family: "Rubik", sans-serif;
    line-height: 24px;
}

.conteudo .logo {
    background-image: url(../images/one-piece-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 230;
    height: 100px;
    margin-bottom: 35px;
    animation-name: slideRight;
    animation-duration: 0.5s;
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 180px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.botoes .botao {
    padding: none;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.1);
}

.botoes .botao.selecionado img {
   box-shadow: 0 0 10px #d9d9d9;
}

